a{color: aliceblue; font-size: 17px;}
.liClass{padding: 5px;}
.solTaraf {
    background-color: rgb(206, 178, 178);
    width: 340px;
    height: 100%;    
    padding: 5px;
    font-size: 15px;
    font-style: bold;
    color: white;
}